<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOY LIN PORTFOLIO</title>

    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="../css/nav_style.css"> -->
    <!-- <link rel="stylesheet" href="css/index_style.css"> -->

    <!-- jQuery -->
    <script src="../js/jQuery-v3.5.1.js"></script>
</head>

<body>
    <nav>
        <div class="content">
            <a href="/index.html" class="nav-logo">
                <img src="/img/logo.png" alt="JOY LIN">
            </a>
            <div class="nav-right-block" id="nav-mobile">
                <button class="hamburger" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <div class="nav-drowpDown-block">
                    <a href="/index.html" class="active">首頁</a>
                    <a href="/allWorks.html">所有作品</a>
                    <a href="/works_ui.html">UI 設計</a>
                    <a href="/works_ui.html">平面設計</a>
                    <a href="/works_product.html">產品設計</a>
                    <a href="/about.html">關於我</a>
                </div>
            </div>
            <div class="nav-right-block" id="nav-web">
                <a href="/index.html" class="active">首頁</a>
                <a href="/allWorks.html">所有作品</a>
                <a href="/works_ui.html">UI 設計</a>
                <a href="/works_ui.html">平面設計</a>
                <a href="/works_product.html">產品設計</a>
                <a href="/about.html">關於我</a>
            </div>
        </div>
    </nav>
    <div id="index">
        <div class="content">
            <div class="block block-01">
                <div class="big-font-title">
                    <h1>JOY LIN</h1>
                    <h1>PORTFOLIO</h1>
                    <div class="blue-color-block"></div>
                    <div class="blue-color-line"></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="block">
                <div class="works-img-block">
                    <div class="works-item w-3">
                        <div class="img-item">
                            <img src="../img/work-img.jpg" alt="" class="img-item-bg">
                            <div class="img-item-content web">
                                <h3 class="img-item-title">醫美診所醫療儀器海報</h3>
                                <p>Graphic　Design</p>
                                <a href="#" class="button">
                                    <p>SEE　PROJECT</p>
                                </a>
                            </div>
                        </div>
                        <div class="img-item-content mobile">
                            <h3 class="img-item-title">醫美診所醫療儀器海報</h3>
                            <p>Graphic Design</p>
                            <a href="#" class="button">
                                <p>完整內容</p>
                            </a>
                        </div>
                    </div>

                    <div class="works-item w-2">
                        <div class="img-item">
                            <img src="../img/work-img.jpg" alt="" class="img-item-bg">
                            <div class="img-item-content web">
                                <h3 class="img-item-title">醫美診所醫療儀器海報</h3>
                                <p>Graphic　Design</p>
                                <a href="#" class="button">
                                    <p>SEE　PROJECT</p>
                                </a>
                            </div>
                        </div>
                        <div class="img-item-content mobile">
                            <h3 class="img-item-title">醫美診所醫療儀器海報</h3>
                            <p>Graphic Design</p>
                            <a href="#" class="button">
                                <p>完整內容</p>
                            </a>
                        </div>
                    </div>

                    <div class="works-item w-1">
                        <div class="img-item">
                            <img src="../img/work-img.jpg" alt="" class="img-item-bg">
                            <div class="img-item-content web">
                                <h3 class="img-item-title">醫美診所醫療儀器海報</h3>
                                <p>Graphic　Design</p>
                                <a href="#" class="button">
                                    <p>SEE　PROJECT</p>
                                </a>
                            </div>
                        </div>
                        <div class="img-item-content mobile">
                            <h3 class="img-item-title">醫美診所醫療儀器海報</h3>
                            <p>Graphic Design</p>
                            <a href="#" class="button">
                                <p>完整內容</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>











































































    <script src="../js/nav.js"></script>
</body>

</html>